{% extends 'base.html' %}

{#{% load crispy_forms_tags %}#}

{% block content %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for error in form.non_field_errors %}
          <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
        {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h2>Log in</h2>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            <div>
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div>
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </form>
                        <p><a href="#">Lost password?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
